<!-- Modal -->
<div class="modal-dialog pop-up modal-dialog-scrollable">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Comment List</h4>
        <span *ngIf="payload.Comments[0]?.Internal">
          <!-- Internal icon -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 32 32"
          >
            <rect
              x="2"
              y="2"
              width="28"
              height="28"
              rx="6"
              ry="6"
              fill="none"
              stroke="#197DA1"
              stroke-width="2"
            />
            <text
              x="16"
              y="22"
              font-family="Montserrat, sans-serif"
              font-size="20"
              font-weight="800"
              font-style="italic"
              text-anchor="middle"
              fill="#197DA1"
            >
              I
            </text>
          </svg>
        </span>
        <p *ngIf="payload.Comments[0]?.Internal">Internal Comment</p>
      </div>

      <div class="modal-body">
        <div
          *ngFor="let comment of payload.Comments"
          class="row comment-border"
        >
          <div class="col-9">
            <p class="form-label">{{ comment.CommentType }}</p>
            <p class="comment-desc-date">{{ comment.Comment }}</p>
            <p class="comment-desc">
              {{ payload.createdDate | date : "dd-MMM-yyyy" }}
            </p>
          </div>
          <div class="col-3" style="align-content: center">
            <!-- View Button -->
            <div class="col-6">
              <a type="button" (click)="openModal(payload)">
                <svg
                  class="view-button"
                  width="100%"
                  height="100%"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2.42012 12.7132C2.28394 12.4975 2.21584 12.3897 2.17772 12.2234C2.14909 12.0985 2.14909 11.9015 2.17772 11.7766C2.21584 11.6103 2.28394 11.5025 2.42012 11.2868C3.54553 9.50484 6.8954 5 12.0004 5C17.1054 5 20.4553 9.50484 21.5807 11.2868C21.7169 11.5025 21.785 11.6103 21.8231 11.7766C21.8517 11.9015 21.8517 12.0985 21.8231 12.2234C21.785 12.3897 21.7169 12.4975 21.5807 12.7132C20.4553 14.4952 17.1054 19 12.0004 19C6.8954 19 3.54553 14.4952 2.42012 12.7132Z"
                    stroke="green"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M12.0004 15C13.6573 15 15.0004 13.6569 15.0004 12C15.0004 10.3431 13.6573 9 12.0004 9C10.3435 9 9.0004 10.3431 9.0004 12C9.0004 13.6569 10.3435 15 12.0004 15Z"
                    stroke="green"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </div>
            <!-- Delete Button -->
            <div class="col-6">
              <a type="button">
                <svg
                  class="delete-button"
                  width="100%"
                  height="100%"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9 3H15M3 6H21M19 6L18.2987 16.5193C18.1935 18.0975 18.1409 18.8867 17.8 19.485C17.4999 20.0118 17.0472 20.4353 16.5017 20.6997C15.882 21 15.0911 21 13.5093 21H10.4907C8.90891 21 8.11803 21 7.49834 20.6997C6.95276 20.4353 6.50009 20.0118 6.19998 19.485C5.85911 18.8867 5.8065 18.0975 5.70129 16.5193L5 6M10 10.5V15.5M14 10.5V15.5"
                    stroke="red"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
