*{
    font-family: "Montserrat", sans-serif;;
}
.modal-content{
    width: 954px;
}
h4.modal-title {
    font-size: 16px;
    font-weight: 600;
}
.modal-header{
    border: none;
}
.form-label{
    font-weight: 500;
}
.col-custom{
    width: 205px;
    padding-right: 0;
}
.btn-blue{
    background-color: blue;
    color: white;
    display: flex;
    margin-top: 10px;
    
}
.table-wraper{
    max-height: 250px;
}
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  position: relative;
  overflow: hidden;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  height: 100%;
  cursor: col-resize;
  user-select: none;
  z-index: 1;
}

th{
    background-color: #DEE4E6;
}

.table-wraper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.simple-table {
  width: 100%;
  border-collapse: collapse;
}

.simple-table th, .simple-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

/* Hover effect */
.simple-table tr:hover:not(.selected-row) {
  background-color: #f0f0f0;
  cursor: pointer;
}

/* Selected row */
.selected-row {
  background-color: rgb(162, 162, 231);
  color: white;
}