*{
    font-family: "Montserrat", sans-serif;;
}

h4.modal-title {
    font-size: 16px;
    font-weight: 600;
}
.header{
  display: flex;
}
.modal-header{
  padding-bottom: 0;
}
span{
  font-weight: 600;
  
}
.row{
  width: 900px;
}
.modal-content{
  width: 900px;
  margin-bottom: 10px;
  margin-left: 5px;
  border: 1px solid #D0D0D0;
}
td {
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  padding: 0;
}
table{
  .table-bordered{
    border-color: black;
  }
}
.dropdown-menu {
  display: block;
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  z-index: 1000;
  min-width: 150px;
}
button.btn.btn-preview {
    border: 1px solid black;
    border-radius: 40px;
    height: 29px;
    font-size: 13px;
    background-color: darkgreen;
    color: white;
}
td{
  max-width: 5px;
}
.modal-body{
  max-height: 150px;
  .row{
    width: 850px;
  }
}
.p-1.rounded.text-white.position-relative {
    max-height: 30px;
}